{% extends 'Website/layout.html' %}
{% load static %}
{% load user_tags %}

{% block body %}
<div class="wrapper ovh">

    {% include 'Website/top_header.html' %}
    {% include 'Website/top_navbar.html' %}

    <!-- Modal -->
    {% include 'Website/login_modal.html' %}
    {% include 'Website/dealer_form.html' %}

    <!-- Our Plans -->
    <section class="inventory-section pt-100 pb-70">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="main-title text-center">
                        <h2>Our Plans</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                
                <!-- Silver Package -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-inventory">
                        <div class="inventory-top">
                            <h3>Silver Package</h3>
                            <h4>Rs<span>88.99</span>/per month</h4>
                            <div class="image">
                                <img src="{% static 'images/images/1.png' %}" alt="Image">
                            </div>
                            <div class="hover-image">
                                <img src="{% static 'images/images/2.png' %}" alt="Image">
                            </div>
                        </div>
                        <div class="inventroy-content">
                            <ul>
                                <li><i class="fa fa-check"></i> Departure of a specialist</li>
                                <li><i class="fa fa-check"></i> Inspection report</li>
                                <li><i class="fa fa-check"></i> Body Inspection</li>
                            </ul>
                            <form action="{% url 'our_packages' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="package" value="Silver Package">
                                <button type="submit" class="custom-btn2">Get Plan</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Platinum Package -->
                <div class="col-md-6 col-lg-4">
                    <div class="single-inventory active-color">
                        <div class="inventory-top">
                            <h3>Platinum Package</h3>
                            <h4>Rs<span>288.99</span>/per month</h4>
                            <div class="hover-image">
                                <img src="{% static 'images/images/1.png' %}" alt="Image">
                            </div>
                            <div class="image">
                                <img src="{% static 'images/images/2.png' %}" alt="Image">
                            </div>
                        </div>
                        <div class="inventroy-content">
                            <ul>
                                <li><i class="fa fa-check"></i> Departure of a specialist</li>
                                <li><i class="fa fa-check"></i> Inspection report</li>
                                <li><i class="fa fa-check"></i> Body Inspection</li>
                                <li><i class="fa fa-check"></i> Computer Diagnostic</li>
                                <li><i class="fa fa-check"></i> Inspection of saloon</li>
                                <li><i class="fa fa-check"></i> Electricians</li>
                            </ul>
                            <form action="{% url 'our_packages' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="package" value="Platinum Package">
                                <button type="submit" class="custom-btn2">Get Plan</button>
                            </form>
                        </div>
                    </div>
                </div>

                <!-- Another Silver Package -->
                <div class="offset-md-3 offset-lg-0 col-md-6 col-lg-4">
                    <div class="single-inventory">
                        <div class="inventory-top">
                            <h3>Silver Package</h3>
                            <h4>Rs<span>88.99</span>/per month</h4>
                            <div class="image">
                                <img src="{% static 'images/images/1.png' %}" alt="Image">
                            </div>
                            <div class="hover-image">
                                <img src="{% static 'images/images/2.png' %}" alt="Image">
                            </div>
                        </div>
                        <div class="inventroy-content">
                            <ul>
                                <li><i class="fa fa-check"></i> Departure of a specialist</li>
                                <li><i class="fa fa-check"></i> Inspection report</li>
                                <li><i class="fa fa-check"></i> Body Inspection</li>
                            </ul>
                            <form action="{% url 'our_packages' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="package" value="Silver Package">
                                <button type="submit" class="custom-btn2">Get Plan</button>
                            </form>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- End Section -->

    {% include 'Website/footer.html' %}

</div>
<!-- Wrapper End -->
{% endblock %}

{% block js %}
{% endblock %}
