

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST" action="{% url 'dealer:update-car-detail' car_detail.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">Edit Car Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Pre-filled form inputs with current data -->
                     <div class="card">
                        <div class = "card-body">
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                <label for="insurance_type" class="form-label">Insurance Type</label>
                                <input type="text" class="form-control" id="insurance_type" name="insurance_type" value="{{ car_detail.insurance_type }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="insurance_by" class="form-label">Insurance Company</label>
                                    <input type="text" class="form-control" id="insurance_by" name="insurance_by" value="{{ car_detail.insurance_by }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                <label for="fitness_validity" class="form-label">Fitness Validity</label>
                                <input type="date" class="form-control" id="fitness_validity" name="fitness_validity" value="{{ car_detail.fitness_validity }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="pollution_validity" class="form-label">Pollution Validity</label>
                                    <input type="date" class="form-control" id="pollution_validity" name="pollution_validity" value="{{ car_detail.pollution_validity }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                <label for="registration_place" class="form-label">Registration Place</label>
                                <input type="text" class="form-control" id="registration_place" name="registration_place" value="{{ car_detail.registration_place }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="registration_no" class="form-label">Registration Number</label>
                                    <input type="text" class="form-control" id="registration_no" name="registration_no" value="{{ car_detail.registration_no}}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                <label for="last_service" class="form-label">Last Service</label>
                                <input type="date" class="form-control" id="last_service" name="last_service" value="{{ car_detail.last_service_date }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="vehicle_loc" class="form-label">Location of Vehicle</label>
                                    <input type="text" class="form-control" id="vehicle_location" name="vehicle_location" value="{{ car_detail.vehicle_location}}">
                                </div>
                            </div>
                            
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Interior-->
<div class="modal fade" id="interiorModal" tabindex="-1" aria-labelledby="interiorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST" action="{% url 'dealer:update-interior' car_detail.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="interiorModalLabel">Edit Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Pre-filled form inputs with current data -->
                     <div class="card">
                        <div class = "card-body">
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                <label for="power_steering" class="form-label">Power Steering</label>
                                <input type="text" class="form-control" id="power_steering" name="power_steering" value="{{ car_detail.power_steering }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="cruise_control" class="form-label">Cruise Control</label>
                                    <input type="text" class="form-control" id="cruise_control" name="cruise_control" value="{{ car_detail.cruise_control }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                <label for="navigation_system" class="form-label">Navigation System</label>
                                <input type="text" class="form-control" id="navigation_system" name="navigation_system" value="{{ car_detail.navigation_system }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="adjustable_steering" class="form-label">Adjustable Steering</label>
                                    <input type="text" class="form-control" id="adjustable_steering" name="adjustable_steering" value="{{ car_detail.adjustable_steering }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                <label for="steering_control" class="form-label">Steering Control</label>
                                <input type="text" class="form-control" id="steering_control" name="steering_control" value="{{ car_detail.steering_control }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="air_conditioning" class="form-label">Air Conditioning</label>
                                    <input type="text" class="form-control" id="air_conditioning" name="air_conditioning" value="{{ car_detail.air_conditioning}}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                <label for="power_window" class="form-label">Power Windows</label>
                                <input type="text" class="form-control" id="power_window" name="power_window" value="{{ car_detail.power_window }}">
                                </div>
                                
                            </div>
                            
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Exterior-->
<div class="modal fade" id="exteriorModal" tabindex="-1" aria-labelledby="exteriorModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST" action="{% url 'dealer:update-exterior' car_detail.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exteriorModalLabel">Edit Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     <div class="card">
                        <div class = "card-body">
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                <label for="alloy_wheel" class="form-label">Alloy Wheel</label>
                                <input type="text" class="form-control" id="alloy_wheel" name="alloy_wheel" value="{{ car_detail.alloy_wheel }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="sun_roof" class="form-label">Sun Roof</label>
                                    <input type="text" class="form-control" id="sun_roof" name="sun_roof" value="{{ car_detail.sun_roof }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="adjustable_orvm" class="form-label">Adjustable ORVMs</label>
                                    <input type="text" class="form-control" id="adjustable_orvm" name="adjustable_orvm" value="{{ car_detail.adjustable_orvm }}">
                                </div>
                            </div>
                            
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Infotainment-->
<div class="modal fade" id="infotainmentModal" tabindex="-1" aria-labelledby="infotainmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST" action="{% url 'dealer:update-infotainment' car_detail.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="infotainmentModalLabel">Edit Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     <div class="card">
                        <div class = "card-body">
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                <label for="bluetooth" class="form-label">Bluetooth</label>
                                <input type="text" class="form-control" id="bluetooth" name="bluetooth" value="{{ car_detail.bluetooth }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="am_fm_radio" class="form-label">AM/FM Radio</label>
                                    <input type="text" class="form-control" id="am_fm_radio" name="am_fm_radio" value="{{ car_detail.am_fm_radio }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="usb_compatibility" class="form-label">USB Compatibility</label>
                                    <input type="text" class="form-control" id="usb_compatibility" name="usb_compatibility" value="{{ car_detail.usb_compatibility }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="aux_compatibility" class="form-label">AUX Compatibility</label>
                                    <input type="text" class="form-control" id="aux_compatibility" name="aux_compatibility" value="{{ car_detail.aux_compatibility }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="android_car_play" class="form-label">Android Auto/Apple Car Play</label>
                                    <input type="text" class="form-control" id="android_car_play" name="android_car_play" value="{{ car_detail.android_car_play }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="wireless_charger" class="form-label">Wireless Charger</label>
                                    <input type="text" class="form-control" id="wireless_charger" name="wireless_charger" value="{{ car_detail.wireless_charger }}">
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Safety Features-->
<div class="modal fade" id="safetyModal" tabindex="-1" aria-labelledby="safetyModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST" action="{% url 'dealer:update-safety' car_detail.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="safetyModalLabel">Edit Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     <div class="card">
                        <div class = "card-body">
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                <label for="abs" class="form-label">ABS</label>
                                <input type="text" class="form-control" id="abs" name="abs" value="{{ car_detail.abs }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="ebd" class="form-label">EBD</label>
                                    <input type="text" class="form-control" id="ebd" name="ebd" value="{{ car_detail.ebd }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="anti_theft_device" class="form-label">Anti-Theft Device</label>
                                    <input type="text" class="form-control" id="anti_theft_device" name="anti_theft_device" value="{{ car_detail.anti_theft_device }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="aux_compatibility" class="form-label">Rear Parking Camera</label>
                                    <input type="text" class="form-control" id="rear_parking_camera" name="rear_parking_camera" value="{{ car_detail.rear_parking_camera }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="rear_parking_sensor" class="form-label">Rear Parking Sensors</label>
                                    <input type="text" class="form-control" id="rear_parking_sensor" name="rear_parking_sensor" value="{{ car_detail.rear_parking_sensor}}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="front_parking_camera" class="form-label">Front Parking Sensors</label>
                                    <input type="text" class="form-control" id="front_parking_camera" name="front_parking_camera" value="{{ car_detail.front_parking_camera }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="lock_system" class"form-label">Lock System</label>
                                    <input type="text" class="form-control" id="lock_system" name="lock_system" value="{{car_detail.lock_system}}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="total_air_bag" class="form-label">Number of Airbags</label>
                                    <input type="text" class="form-control" id="total_air_bag" name="total_air_bag" value="{{car_detail.total_air_bag}}">
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--Vehicle Conditions-->
<div class="modal fade" id="vehicleModal" tabindex="-1" aria-labelledby="vehicleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST" action="{% url 'dealer:update-vehicle' car_detail.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="vehicleModalLabel">Edit Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     <div class="card">
                        <div class = "card-body">
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                <label for="battery_status" class="form-label">Battery Status</label>
                                <input type="text" class="form-control" id="battery_status" name="battery_status" value="{{ car_detail.battery_status }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="tyre_condition" class="form-label">Tyre Condition</label>
                                    <input type="text" class="form-control" id="tyre_condition" name="tyre_condition" value="{{ car_detail.tyre_condition }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="vehicle_warranty" class="form-label">Vehicle Certification / Company Warranty [If Any]</label>
                                    <input type="text" class="form-control" id="vehicle_warranty" name="vehicle_warranty" value="{{ car_detail.vehicle_warranty }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="vehicle_warranty_date" class="form-label">IF YES then mentioned Company Warranty Valid Till</label>
                                    <input type="text" class="form-control" id="vehicle_warranty_date" name="vehicle_warranty_date" value="{{ car_detail.vehicle_warranty_date }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="accidental" class="form-label">Accidental</label>
                                    <input type="text" class="form-control" id="accidental" name="accidental" value="{{ car_detail.accidental }}">
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!--Additional-->
<div class="modal fade" id="additionalModal" tabindex="-1" aria-labelledby="additionalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST" action="{% url 'dealer:update-additional' car_detail.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="additionalModalLabel">Edit Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                     <div class="card">
                        <div class = "card-body">
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                <label for="finance" class="form-label">Finance</label>
                                <input type="text" class="form-control" id="finance" name="finance" value="{{ car_detail.finance }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="exchange" class="form-label">Exchange</label>
                                    <input type="text" class="form-control" id="exchange" name="exchange" value="{{ car_detail.exchange }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="extended_warranty" class="form-label"> Extended Warranty</label>
                                    <input type="text" class="form-control" id="extended_warranty" name="extended_warranty" value="{{car_detail.extended_warranty}}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="description" class="form-label">Description</label>
                                    <input type="text" class="form-control" id="description" name="description" value="{{ car_detail.description }}">
                                </div>
                            </div>
                            
                        </div>
                     </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!--top detail-->
<!--top model-->
<div class="modal fade" id="topModal" tabindex="-1" aria-labelledby="topModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form method="POST" action="{% url 'dealer:update-top' car_detail.id %}">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="topModalLabel">Edit Car Details</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <!-- Pre-filled form inputs with current data -->
                     <div class="card">
                        <div class = "card-body">
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="brand_name" class="form-label">Brand Name</label>
                                    <input type="text" class="form-control" id="brand_name" name="brand_name" value="{{ car_detail.variant.model.brand.name }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="model_name" class="form-label">Model Name</label>
                                    <input type="text" class="form-control" id="model_name" name="model_name" value="{{ car_detail.variant.model.name }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="variant_name" class="form-label">Variant Name</label>
                                    <input type="text" class="form-control" id="variant_name" name="variant_name" value="{{ car_detail.variant.name }}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="demand_price" class="form-label">Demand Price</label>
                                    <input type="text" class="form-control" id="demand_price" name="demand_price" value="{{ car_detail.demand_price }}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="ownership" class="form-label">OwnerShip</label>
                                    <input type="text" class="form-control" id="ownership" name="ownership" value="{{car_detail.ownership}}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="fuel_type" class="form-label">Fuel Type</label>
                                    <input type="text" class="form-control" id="fuel_type" name="fuel_type" value="{{car_detail.fuel_type}}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="engine_capacity" class="form-label">Engine Capacity</label>
                                    <input type="text" class="form-control" name="engine_capacity" id="engine_capacity" value="{{car_detail.engine_capacity}}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="color" class="form-label"> Color </label>
                                    <input type="text" class="form-control" name="color" id="color" value="{{car_detail.color}}">
                                </div>
                            </div>
                            <div class="row mb-4">
                                <div class="col-lg-6 col-sm-12">
                                    <label for="transmission" class="form-label">Transmission</label>
                                    <input type="text" class="form-control" name="transmission" id="transmission" value="{{ car_detail.transmission}}">
                                </div>
                                <div class="col-lg-6 col-sm-12">
                                    <label for="total_km_driven" class="form-label"> KM Driven</label>
                                    <input type="text" class="form-control" name="total_km_driven" id="total_km_driven" value="{{car_detail.total_km_driven}}">
                                </div>
                            </div>
                        </div>
                     </div>
                </div>
                        <!-- Add other fields similarly -->
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>

